@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arimo', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;

}
